/* TODO: Header */
header {
    flex: 1 1 100vw;
    background-color: #113946;
    color: aliceblue;
    height: 100px;
}

header h1 {
    padding: 1rem;
}
    
/* *Nav */
nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #113946;
}

#addSectorContainer {
    margin-right: 15px;
}

.addSection {
    background-color: #1a1a1a;
    color: #9a9a9a;
    cursor: pointer;
}

.addSection:hover {
    background-color: #5a5a5a;
    transition: 1s;
}

#searchContainer {
    margin-right: 15px;
}

.bx-search-alt-2 {
    cursor: pointer;
}